## Exercise for Pandas
---
Instructions are given in <span style="color:blue">blue</span> color.

In [2]:
import pandas as pd

As you have learned, pandas offers many ways to load data from various sources into `DataFrames`. One especially handy way of doing so is by reading data directly from the clipboard. In this exercise, you will make use of this convenient functionality.

* <div style="color:blue"><a href="https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit#gid=0">This link</a> will lead you to an example Google Sheets spreadsheet, which contains data about American high school students. Select all data (including the header row) and copy it to your clipboard.</div>
* <div style="color:blue">Create a DataFrame object from the contents of your clipboard by calling the appropriate function. Consult <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html">the pandas documentation</a> for help.</div>
* <div style="color:blue">Output the contents of your DataFrame. The results should look similar to this:<br><img src="./img/Students.png" width="500"/></div>

In [8]:
# Your solution goes here:
data = pd.read_clipboard()
data

,Student Name,Gender,Class Level,Home State,Major,Extracurricular Activity
0,Alexandra,Female,4. Senior,CA,English,Drama Club
1,Andrew,Male,1. Freshman,SD,Math,Lacrosse
2,Anna,Female,1. Freshman,NC,English,Basketball
3,Becky,Female,2. Sophomore,SD,Art,Baseball
4,Benjamin,Male,4. Senior,WI,English,Basketball
5,Carl,Male,3. Junior,MD,Art,Debate
6,Carrie,Female,3. Junior,NE,English,Track & Field
7,Dorothy,Female,4. Senior,MD,Math,Lacrosse
8,Dylan,Male,1. Freshman,MA,Math,Baseball
9,Edward,Male,3. Junior,FL,English,Drama Club
10,Ellen,Female,1. Freshman,WI,Physics,Drama Club
11,Fiona,Female,1. Freshman,MA,Art,Debate
12,John,Male,3. Junior,CA,Physics,Basketball
13,Jonathan,Male,2. Sophomore,SC,Math,Debate
14,Joseph,Male,1. Freshman,AK,English,Drama Club
15,Josephine,Female,1. Freshman,NY,Math,Debate
16,Karen,Female,2. Sophomore,NH,English,Basketball
17,Kevin,Male,2. Sophomore,NE,Physics,Drama Club
18,Lisa,Female,3. Junior,SC,Art,Lacrosse
19,Mary,Female,2. Sophomore,AK,Physics,Track & Field
20,Maureen,Female,1. Freshman,CA,Physics,Basketball
21,Nick,Male,4. Senior,NY,Art,Baseball
22,Olivia,Female,4. Senior,NC,Physics,Track & Field
23,Pamela,Female,3. Junior,RI,Math,Baseball
24,Patrick,Male,1. Freshman,NY,Art,Lacrosse
25,Robert,Male,1. Freshman,CA,English,Track & Field
26,Sean,Male,1. Freshman,NH,Physics,Track & Field
27,Stacy,Female,1. Freshman,NY,Math,Baseball
28,Thomas,Male,2. Sophomore,RI,Art,Lacrosse
29,Will,Male,4. Senior,FL,Math,Debate

As you can see, the **`Home State`** Column makes use of state name abbreviations. We should find out what these abbreviations actually stand for.

* <div style="color:blue"><a href="https://www.50states.com/abbreviations.htm">This online resource</a> lists all state abbreviations in conjunction with their respective full state names. Select the contents of the table (up until Wyoming is sufficient) and copy them to your clipboard. However, do not copy the header row this time around.</div>
* <div style="color:blue">Create a second DataFrame object from the contents of your clipboard and provide proper column names while doing so.</div>
* <div style="color:blue">Output the contents of your DataFrame. The results should look similar to this:<br><img src="./img/States.png" width="200"/></div>

In [16]:
# Your solution goes here:
stateNames = pd.read_clipboard()
stateNames = stateNames.iloc[:,0:2]
stateNames.columns = ['State','State_id']
stateNames

             State State_id
0           Alaska       AK
1          Arizona       AZ
2         Arkansas       AR
3       California       CA
4         Colorado       CO
5      Connecticut       CT
6         Delaware       DE
7          Florida       FL
8          Georgia       GA
9           Hawaii       HI
10           Idaho       ID
11        Illinois       IL
12         Indiana       IN
13            Iowa       IA
14          Kansas       KS
15        Kentucky       KY
16       Louisiana       LA
17           Maine       ME
18        Maryland       MD
19   Massachusetts       MA
20        Michigan       MI
21       Minnesota       MN
22     Mississippi       MS
23        Missouri       MO
24         Montana       MT
25        Nebraska       NE
26          Nevada       NV
27   New Hampshire       NH
28      New Jersey       NJ
29      New Mexico       NM
30        New York       NY
31  North Carolina       NC
32    North Dakota       ND
33            Ohio       OH
34        Oklahoma       OK
35          Oregon       OR
36    Pennsylvania       PA
37    Rhode Island       RI
38  South Carolina       SC
39    South Dakota       SD
40       Tennessee       TN
41           Texas       TX
42            Utah       UT
43         Vermont       VT
44        Virginia       VA
45      Washington       WA
46   West Virginia       WV
47       Wisconsin       WI
48         Wyoming       WY

Now that we have our student information and the accompanying state name information, it would be nice to combine both into a single `DataFrame`.

* <div style="color:blue">Look online for ways to <b>merge</b> or <b>join</b> two DataFrames on specific columns.</div>
* <div style="color:blue">Create a final DataFrame which holds the combined information. Your results should look something like this:</div><br><img src="./img/Merge.png" width="500"/></div>

In [ ]:
# Your solution goes here:
final_data = data.merge(data,stateNames,how='left',on='State')
final_data